/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 8px 8px 8px 16px;
  /* padding: 6px 8px 6px 16px; */
  text-decoration: none;
  font-family: "Tahoma", sans-serif;
  font-size: 14px;
  color: #818181;
  display: block;
}


.active {
  background-color: #d5e1df;

}

.btn:hover {
  color: white;
}
  

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}

#map {
  float: right;
  padding: 0px 12px;
  /* border: 1px solid #ccc; */
  width: 85%;
  border-left: none;
  height: 300px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 12px;}
  .sidebar a {font-size: 10px;}
}
